body {
    display: grid;
    place-content: center center;
    background: #e5e9f0;
    height: 100vh;
}

.main {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-gap: 35px;
    padding: 40px;
    place-content: center center;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 4px;
}

.main>svg {
    border-radius: 6px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 12px;
    grid-row: 2;
}

.nav button {
    /* font-size: 1.7em; */
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: cursive;

}

.next {
    padding-top: 10px;
}

button {
    text-transform: capitalize;
    border: none;
    color: white;
    background: #4c566a;
    border-radius: 7px;
    border-bottom: 4px solid #3b4252;
    /* opacity: 0.9; */

    /* background: #d8dee9; */
    /* font-family: 'Courgette'; */
    /* border-radius: 8px; */
    padding: 15px;
    font-size: 2vh;
    /* font-weight: 100; */
    cursor: pointer;
    transition: opacity 0.3s;
    /* box-shadow: #5e81ac 0px 4px; */
    /* display: none; */
}

a {
    text-decoration: none
}

button:hover {
    opacity: 0.9;
}

.score {
    font-family: 'Shrikhand', 'Lobster', monospace;
    font-weight: 200;
    display: grid;
    align-items: end;
    gap: 35px;
    grid-template-rows: auto auto auto 1fr;
    grid-column: 2;
    color: #88c0d0;
    font-size: 4vh;
}

.info {
    opacity: 0.5;
    transition: opacity 0.3s;
    text-align: right;
    align-self: center;
    justify-self: right;
}

.info:hover {
    opacity: 1;
}

.info span {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    /* padding-top: 2px; */
    display: block;
    color: #4c566a;
    opacity: 0.7;
    font-size: 16px;
}

.info h3 {
    margin: 0;
}

.next svg rect {
    transition: fill 0.3s ease-out;
}

h3 {
    font-family: 'Shrikhand', cursive;
    /* font-family: 'Courgette', 'Shrikhand', cursive; */
    font-size: 2.5vh;
    margin-bottom: 10px;
    margin: 5px;
    color: #4c566a;
    font-weight: 100;
    text-transform: capitalize;
}

.level {
    background: #e5e9f0;
    flex: 1;
    height: 14px;
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    border-radius: 50px;
    overflow: hidden;
}

.level-bar {
    border-radius: 30px;
    height: 100%;
    background: #a3be8c;
    display: flex;
    align-items: center;
    justify-content: center;
    color: plum;
    /* width: 70% !important; */
    transition: all .4s ease-out;
}