@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
  display: grid;
  place-content: center center;
  background: #e5e9f0;
  height: 100vh;
}

.main {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-gap: 35px;
  padding: 40px;
  place-content: center center;
  background: #fafafa;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px;
}

.main>svg {
  border-radius: 6px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 12px;
  grid-row: 2;
  align-items: flex-end;
}

.nav button {
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
}

.next {
  padding-top: 10px;
}

a {
  text-decoration: none
}

svg rect {
  transition: all 0.25s;
}

button {
  color: white;
  background: #4c566a;
  padding: 15px;
  border: none;
  border-bottom: 4px solid #3b4252;
  border-radius: 6px;
  font-size: 2vh;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.09s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  border-bottom-width: 0;
}

.score {
  font-family: 'Shrikhand', 'Lobster', monospace;
  font-weight: 200;
  display: grid;
  align-items: end;
  gap: 35px;
  grid-template-rows: auto auto auto 1fr;
  grid-column: 2;
  color: #88c0d0;
  font-size: 4vh;
}

.info {
  opacity: 0.5;
  transition: opacity 0.3s;
  text-align: right;
  align-self: center;
  justify-self: right;
}

.info:hover {
  opacity: 1;
}

.info span {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2px;
  /* padding-top: 2px; */
  display: block;
  color: #4c566a;
  opacity: 0.7;
  font-size: 16px;
}

.info h3 {
  margin: 0;
}

.next svg rect {
  transition: fill 0.3s ease-out;
}

h3 {
  font-family: 'Shrikhand', cursive;
  /* font-family: 'Courgette', 'Shrikhand', cursive; */
  font-size: 2.5vh;
  margin-bottom: 10px;
  margin: 5px;
  color: #4c566a;
  font-weight: 100;
  text-transform: capitalize;
}

.level {
  background: #e5e9f0;
  flex: 1;
  height: 14px;
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  border-radius: 50px;
  overflow: hidden;
}

.level-bar {
  border-radius: 30px;
  height: 100%;
  background: #a3be8c;
  display: flex;
  align-items: center;
  justify-content: center;
  color: plum;
  transition: all .5s cubic-bezier(.7, 0, .54, 1.6);
  /* transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); */
}